.acBar {
    float: left;
    margin: 10px;
    padding-top: 0px;
}
body{
    background: url(../imagenes/acerca.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
.espacio{
    padding-top: 150px;
    margin-left: 40px;
    float: left;
   
}
.foto img{
    padding: 160px;
    height: 380px;
    width: 280px;
}
h2{
    font-family: titulo;
}

.espacio p{
    font-family: parrafo;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

@font-face{
    font-family: parrafo;
    src: url(fuentes/Merienda-Regular.ttf);
}
@font-face{
    font-family: titulo;
    src: url(fuentes/Handlee-Regular.ttf);
}